.container{
  display: flex;
  justify-content: center;
  max-width: 1200px;
  margin: 0 auto;
}

.main{
  width: 70%;
}

.filters{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.sidebar{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  padding: 20px;
}