.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  margin: 20px auto 0 auto;
}

.button{
  position: relative;
  display: flex;
  align-items: center;
  padding: 20px;
  font-size: 1.1em;
  font-weight: 600;
  color: #eee;
  background-color: #222;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  overflow: hidden;
  z-index: 1;
}

.button::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 0;
  height: 100%;
  background-color: #555;
  border-radius: 10px;
  transition: 0.3s ease;
  z-index: -1;
}

.button:hover::before{
  width: 100%;
}

.icon{
  margin-right: 5px;
  filter: invert(90%);
}

.title{
  margin: 20px auto;
  font-size: 1.2em;
  text-align: center;
}