.button{
  position: relative;
  margin: 0 10px;
  padding: 10px;
  background-color: transparent;
  border-radius: 50%;
  border: none;
  box-shadow: 0 0 5px #222;
  cursor: pointer;
  overflow: hidden;
}

.button::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 0;
  height: 100%;
  background-color: #ddd;
  border-radius: 50%;
  transition: 0.2s ease;
  z-index: -1;
}

.button:hover::before{
  width: 100%;
}

.title{
  width: 80%;
  margin: 20px auto 40px auto;
  font-size: 1.2em;
  text-align: center;
}

.actions{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 20px 0;
}

.actionButton{
  position: relative;
  margin: 0 10px;
  padding: 10px 20px;
  font-size: 1em;
  font-weight: 600; 
  color: #eee;
  background-color: #222;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  overflow: hidden;
  transition: color, background-color 0.3s ease;
  z-index: 1;
}

.actionButton::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 0;
  height: 100%;
  background-color: #333;
  border-radius: 10px;
  transition: 0.3s ease;
  z-index: -1;
}

.actionButton:hover::before{
  width: 100%;
}