.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  margin: 20px auto 0 auto;
}

.button{
  display: flex;
  align-items: center;
  padding: 20px;
  font-size: 1.1em;
  font-weight: 600;
  color: #eee;
  background-color: #222;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.button:active{
  background-color: #555;
}

.icon{
  margin-right: 5px;
  filter: invert(90%);
}