.task{
  width: 90%;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #eee;
  border-radius: 10px;
  cursor: pointer;
}

.task:hover{
  background-color: #ddd;
}

.title{
  font-weight: 600;
}

.footer{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.details{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.date{
  font-size: 0.9em;
  color: #777;
}

.duration{
  color: #222;
}

.holiday{
  font-weight: 600;
  color: rgb(30, 123, 61)
}