.actions{
  margin-top: 10px;
  align-self: center;
}

.button{
  position: relative;
  margin: 0 10px;
  padding: 10px;
  background-color: transparent;
  border-radius: 50%;
  border: none;
  box-shadow: 0 0 5px #222;
  cursor: pointer;
  overflow: hidden;
}

.button::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 0;
  height: 100%;
  background-color: #ddd;
  border-radius: 50%;
  transition: 0.2s ease;
  z-index: -1;
}

.button:hover::before{
  width: 100%;
}