.modal{
  position: fixed;
  top: 50%;
  left: 50%;
  width: 50%;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 5px #777;
  overflow: hidden;
  z-index: 6;
  animation: in 0.4s ease-out 1 forwards;
}

.close{
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

@keyframes in{
  0%{
    transform: translate(-50%,-500%);
    opacity: 0;
  }
  75%{
    opacity: 1;
  }
  100%{
    transform: translate(-50%,-50%);
  }
}