.form{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin: 20px;
}

.input{
  width: 80%;
  padding: 10px;
  font-size: 1em;
  color: #222;
  background-color: #999;
  border: 1px solid #222;
  outline: none;
}

.button{
  position: absolute;
  top: 50%;
  right: 12%;
  transform: translateY(-45%);
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}