.form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.actions{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 20px 0;
}

.button{
  position: relative;
  margin: 0 10px;
  padding: 10px 20px;
  font-size: 1em;
  font-weight: 600; 
  color: #eee;
  background-color: #222;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  overflow: hidden;
  transition: color, background-color 0.3s ease;
  z-index: 1;
}

.button::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 0;
  height: 100%;
  background-color: #333;
  border-radius: 10px;
  transition: 0.3s ease;
  z-index: -1;
}

.button:hover::before{
  width: 100%;
}

.errorMessage{
  margin: 5px;
  color: red;
  font-size: 0.8em;
}